body {
  background: #a6afa9;
}

.bg-head {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 767px;
  background: url(/images/bg-head.jpg) no-repeat center top;
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -o-transition: all 0s linear;
  transition: all 0s linear;
  transform: translate3d(0,0,0);
  -webkit-transform: translateZ(0);
}

.bg-fog {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1370px;
  background: url(/images/bg-fog.png) no-repeat center top;
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -o-transition: all 0s linear;
  transition: all 0s linear;
  transform: translate3d(0,0,0);
  -webkit-transform: translateZ(0);
}

.bg-bottom {
  position: absolute;
  left: 0;
  top: 1370px;
  width: 100%;
  height: 1370px;
  background: url(/images/bg-bottom.jpg) no-repeat center top;
}

.bg-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1370px;
  background: url(/images/bg-top.png) no-repeat center top;
}

.content {
  position: absolute;
  left: 50%;
  top: 615px;
  width: 800px;
  margin-left: -400px;
  text-align: center;
}

.video {
  margin: 0 0 20px 0;
}

p {
  position: relative;
  margin: 20px 0;
  color: #b2b0a7;
  font-family: "Arial";
  font-size: 26px;
  text-shadow: 0 2px 2px #000;
  line-height: 33px;
}

p a {
  color: #d5a74e;
}

p a:hover {
  text-decoration: none;
}

.store-buttons {
  position: relative;
  margin: 20px 0 940px 0;
}

.store-buttons a {
  padding-right: 40px;
}

.store-buttons a:last-child {
  padding-right: 0;
}

.gallery {
  position: absolute;
  left: 50%;
  top: 675px;
  width: 800px;
  margin-left: -400px;
  height: 1064px;
  background: url(/images/bg-gallery.png) no-repeat center top;
}

.gallery .left, .gallery .right {
  display: block;
  position: absolute;
  top: 567px;
  width: 51px;
  height: 74px;
}

.gallery .left.active {
  background: url(/images/btn-left.png) no-repeat center top;
}

.gallery .left, .gallery .left:active {
  left: 120px;
  background: url(/images/btn-left-pressed.png) no-repeat center top;
}

.gallery .right.active {
  background: url(/images/btn-right.png) no-repeat center top;
}

.gallery .right, .gallery .right:active {
  right: 120px;
  background: url(/images/btn-right-pressed.png) no-repeat center top;
}

.gallery .screen {
  position: absolute;
  left: 195px;
  top: 240px;
  width: 410px;
  height: 728px;
  overflow: hidden;
}

.gallery .screen ul {
  position: relative;
  left: 0;
  padding: 0;
  margin: 0;
  width: 2050px;

  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  transform: translate3d(0,0,0);
  -webkit-transform: translateZ(0);
}

.gallery .screen ul li {
  padding: 0;
  margin: 0;
  display: block;
  float: left;
}

.social-buttons {
  margin: 25px 0 20px 0;
}

.social-buttons a {
  padding-right: 15px;
}

.social-buttons a:last-child {
  padding-right: 0;
}

p.small {
  font-size: 18px;
  color: #352523;
  text-shadow: none;
}

p.small a {
  color: #352523;
}

p.small span {
  padding: 0 10px;
}

p.small:last-child {
  padding: 0;
  margin: 20px 0 0 0;
}
